/* StatsCards.css */
.card-container {
  margin-top: 20px;
}

.custom-card {
  padding: 20px;
  margin: 10px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-card h3 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.icon {
  font-size: 36px;
}

.users-card {
  background-color: #ffc107;
}

.orders-card {
  background-color: #17a2b8;
}

.expenses-card {
  background-color: #28a745;
}
.employees-card {
  background-color: #000b45;
  color: white;
}

@media (max-width: 576px) {
  .custom-card {
    width: 100%;
  }
}
