/* users.css */

.container {
    padding-top: 30px;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .rounded {
    border-radius: 10px;
  }
  
  .shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }
  
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .form-control {
    width: 150px;
  }
  
  .btn-primary {
    background-color: #000045;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #000045;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .pagination .page-item .page-link {
    color: #000045;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #000045;
    border-color: #000045;
    color: white;
  }
  
  .pagination .page-item.active .page-link:hover {
    background-color: #000045;
    border-color: #000045;
  }
  
  /* orders.css */
  @media print {
    body * {
      visibility: hidden;
    }
  
    .order-invoice {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      margin: 2cm;
    }
  
    /* Additional print styles for the order invoice */
    .order-invoice p {
      margin: 0;
      padding: 0.5rem 0;
    }
  
    /* Add more print-specific styles as needed */
  }
  